
<!DOCTYPE html>
<html lang="en">
    <head>
        @!include('inc/header')
    </head>
    <body>

        <!--================Search Area =================-->
        <section class="search_area">
            <div class="search_inner">
                <input type="text" placeholder="Enter Your Search...">
                <i class="ti-close"></i>
            </div>
        </section>
        <!--================End Search Area =================-->
        <!--================Header Menu Area =================-->
        <header class="main_menu_area">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#"><img src="img/logo.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active"><a class="nav-link smooth-class" href="#home">Home</a></li>
                        <li class="nav-item"><a class="nav-link smooth-class" href="#about"> About</a></li>
                        <li class="nav-item"><a class="smooth-class" href="#blog">Blog</a></li>
                        <li class="nav-item"><a class="nav-link smooth-class" href="#pricing">Pricing</a></li>
                        <li class="nav-item"><a class="nav-link smooth-class" href="#maps">Contact</a></li>
                    </ul>
                    <ul class="navbar-nav justify-content-end">
                        <a class="read_btn" href="{{route('/login')}}">Login</a>
                    </ul>
                </div>
            </nav>
        </header>
        <!--================End Header Menu Area =================-->

        <!--================Slider Area =================-->
        <section class="main_slider_area" id="home">
            <div id="main_slider" class="rev_slider" data-version="5.3.1.6">
                <ul>
                    <li data-index="rs-2946" data-transition="slidevertical" data-slotamount="1" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="1000"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Intro" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <div style >
                        <img src="img/home-slider/slider-1.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                        <!-- LAYER NR. 1 -->
                            <!-- LAYER NR. 10 -->
                            <div class="tp-caption   tp-resizeme tp-videolayer"
                            id="slide-2971-layer-15"
                            data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                            data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                            data-whitespace="nowrap"

                            data-type="video"
                            data-responsive_offset="on"

                            data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":"bytrigger","ease":"Power3.easeInOut"},{"delay":"bytrigger","speed":300,"to":"auto:auto;","ease":"nothing"}]'
                            data-vimeoid="142874198" data-videoattributes="title=0&byline=0&portrait=0&api=1" data-videowidth="['900px','700px','400x','300px']"
                            data-videoheight="['500px','400px','200px','200px']" data-videoloop="none"         data-textAlign="['left','left','left','left']"
                            data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]"
                            data-paddingbottom="[0,0,0,0]"
                            data-paddingleft="[0,0,0,0]"
                            data-lasttriggerstate="reset"           data-autoplay="off"
                            data-volume="100"
                            style="z-index: 14;text-transform:left;border-width:0px;">
                             </div>

                            <!-- LAYER NR. 11 -->

                            <div class="tp-caption tp-resizeme secand_text"
                                data-x="['center','center','center','center','center','center']"
                                data-hoffset="['0','0','0','0']"
                                data-y="['middle','middle','middle','middle']"
                                data-voffset="['0','0','0','0','0']"
                                data-fontsize="['48','48','48','28','28','22']"
                                data-lineheight="['60','60','60','36','36','30']"
                                data-width="100%"
                                data-height="none"
                                data-whitespace="normal"
                                data-type="text"
                                data-responsive_offset="on"
                                data-transform_idle="o:1;"
                                data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                                data-textAlign="['center','center','center','center','center','center']"

                                style="z-index: 8;font-family:'Poppins', sans-serif;font-weight:700;color:#fff;">Loream Ipsum Dolor Sit Amet&nbsp;
                            <br>
                             <h6>Loream ipsum is simply dummy text of the printing and typesetting in- <br> dustry. 
                             Loream ipsum has been the industry's standard dummy text <br> ever since the 1500s</p></h6>
                            </br>

                             <h2><center><a class="bg_btn" href="{{route('/register')}}">REGISTER NOW</a></center></h2>
                            </div>
                        </div>
                    </li>
                    <!-- MAIN IMAGE -->
                        <img src="img/home-slider/home-1.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                        <!-- LAYER NR. 1 -->
                        <div class="slider_text_box">
                            <div class="tp-caption tp-resizeme secand_text"
                                data-x="['center','center','center','center','center','center']"
                                data-hoffset="['0','80','80','0']"
                                data-y="['middle','middle','middle','middle']"
                                data-voffset="['0','0','0','0','0']"
                                data-fontsize="['48','48','48','28','28','22']"
                                data-lineheight="['60','60','60','36','36','30']"
                                data-width="100%"
                                data-height="none"
                                data-whitespace="normal"
                                data-type="text"
                                data-responsive_offset="on"
                                data-transform_idle="o:1;"
                                data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                                data-textAlign="['center','center','center','center','center','center']"
                                
                                style="z-index: 8;font-family:'Poppins', sans-serif;font-weight:700;color:#fff;">Loream Ipsum Dolor Sit Amet&nbsp;
                            <br><p><h6>Loream ipsum is simply dummy text of the printing and typesetting in- <br> dustry. 
                             Loream ipsum has been the industry's standard dummy text <br> ever since the 1500s</p></h6>
                            </br>
                            </div>

                            </div>

                            <div class="tp-caption tp-resizeme slider_button"
                                data-x="['center','center','center','center','center','center']"
                                data-hoffset="['0','0','0','0']"
                                data-y="['middle','middle','middle','middle']"
                                data-voffset="['130','130','130','100','100','100']"
                                data-width="none"
                                data-height="none"
                                data-whitespace="nowrap"
                                data-type="text"
                                data-responsive_offse;:&quot;Power2.easeInOut&quot;}]
                                data-textAlign="['center','center','center','center','center','center']">
                                <a class="bg_btn" href="#">About Us</a>
                                <a class="tp_btn" href="#">Get a quote</a>

                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <!--================End Slider Area =================-->
        <!--================Creative Feature Area =================-->
        
        <section id="about" class="section about">
            <div class="container">
                <div class="digital_feature p_100" style="padding-bottom: 7%">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="d_feature_text">
                                <div class="main_title">
                                    <font color="#ff1493"><h5>About the Event</h5></font>
                                    <h1>How it All Started</h1>
                                </div>
                                <p>We are rethoric question ran over her cheek. When she reached the first hills of the Italic. Mountain,she had a last view back on the skyline of her hometown Bookmarkgroves. The headline of Alphabet vilage and the subline of her own road, the Line Lane. 
                                <style>
                                .vl {
                                  border-left: 5px solid #ff1493;
                                  padding-left: 1em;
                                  height: auto;
                                  font-style:italic;
                                }
                                </style>
                                <div class="vl">
                                    Throw myself down teems with vapour around me,and the meridiansan strikes the upper surface of the impenetrable foliage of my trees.
                                </div><br>
                                <p>Few stray gleams steal into the inner sanctuary grow familiar with the countless. indescribable forms,than i feel the presence of the Almighty.                                
                                <a class="read_btn" href="#">Read more</a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="embed-responsive embed-responsive-4by3 embed-float">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/oov5CrimoVs" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
         <style>
             .vk {
             border-left: 5px solid #d3d3d3;
             padding-left: 1em;
             height: auto;
            
                                }
                                </style>
         <section class="" style="background-color: #fff">
            <div class="container">
                <div class="row service_item_inner">
                    <div class="col-lg-3">
                        <div class="service_item">
                            <i class="fa fa-desktop"></i>&nbsp;<b>47</b> Workshop
                        </div>

                    </div>
                    <div class="col-lg-3">
                        <div class="service_item">
                        <div class="vk"><i class="fa fa-microphone"></i>&nbsp;&nbsp;&nbsp;<b>149</b> Speakers
                        </div>
                    </div></div>
                    <div class="col-lg-3">
                        <div class="service_item">
                         <div class="vk"><i class="fa fa-handshake-o"></i>&nbsp;&nbsp;&nbsp;<b>37</b> Sponsor
                        </div>
                        </div></div>
                         <div class="col-lg-3">
                        <div class="service_item">
                            <div class="vk"><i class="fa fa-map"></i>&nbsp;&nbsp;&nbsp;<b>88</b> Countries
                           
                    </div></div>

                </div>
            </div>
            <br><br>
            
        </section>
        
        <section id="pricing" class="pricing py-5">
            <div class="pricing">
            <div class="container">
                <div class="row">
                <!-- Free Tier -->
                <div class="col-lg-4">
                    <div class="card mb-5 mb-lg-0">
                    <div class="card-body">
                        <link href="css/pricing.css" rel="stylesheet">
                        <h5 class="card-title text-muted text-uppercase card-title-a">Early Bird</h5>
                        <h6 class="card-price "><sup>$</sup>219<span class="period">/Person</span></h6>
                        <br>
                        <ul class="fa-ul">
                            <li><i class="fa-li fa fa-check" style="color: green"></i>Get Access to all Sessions</li>
                            <li><i class="fa-li fa fa-check" style="color: green"></i>5GB Storage</li>
                            <li><i class="fa-li fa fa-close" style="color: red"></i>Meet with Favorite Speakers</li>
                            <li><i class="fa-li fa fa-close" style="color: red"></i>Access to all Audio and Video Files</li>
                        </ul>
                        <a href="#" ss="btn btn-block btn-primary" button type="button" class="btn btn-primary"><i class="fa fa-handshake-o" aria-hidden="true"></i>&nbsp;</button>JOIN NOW</a>
                </div>
            </div>
      </div>

      <!-- Plus Tier -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body card-body-a">
            <div class="grad">
            <h5 class="card-title text-white text-uppercase card-title-a">Regular</h5>
            <h6 class="card-price"><sup>$</sup>310<span class="period">/Person</span></h6>
            <br>
            <ul class="fa-ul">
              <li><i class="fa-li fa fa-check" style="color: green"></i>Get Access to al Sessions</li>
              <li><i class="fa-li fa fa-check" style="color: green"></i>Unlimited Coffe and Foods</li>
              <li><i class="fa-li fa fa-check" style="color: green"></i>Meet with Favorite Speakers</li>
              <li><i class="fa-li fa fa-close" style="color: red"></i>Access to all Audio and Video Files</li>
            </ul>
            <a href="#" ss="btn btn-block btn-primary" button type="button" class="btn btn-primary"><i class="fa fa-handshake-o" aria-hidden="true"></i>&nbsp;</button>JOIN NOW</a>
          </div>
        </div>
      </div>
  </div>
      <!-- Pro Tier -->
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase card-title-a">Last Chance</h5>
            <h6 class="card-price "><sup>$</sup>397<span class="period">/Person</span></h6>
            <br>
            <ul class="fa-ul">
             <li><i class="fa-li fa fa-check" style="color: green"></i>Get Access to all Sessions</li>
             <li><i class="fa-li fa fa-check" style="color: green"></i>Unlimited Coffe and Foods</li>
             <li><i class="fa-li fa fa-check" style="color: green"></i>Meet with Favorite Speakers</li>
             <li><i class="fa-li fa fa-check" style="color: green"></i>Get Access to all Audio and Video File</li>
            </ul>
            <a href="#" ss="btn btn-block btn-primary" button type="button" class="btn btn-primary"><i class="fa fa-handshake-o" aria-hidden="true"></i>&nbsp;</button>JOIN NOW</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<br><br>

<!--================Our Service Area =================-->
            <section class="" style="background-color: #fff">
            <div class="container">
                <div class="row service_item_inner">
                    <div class="col-lg-4">
                        <div class="service_item">
                            <i class="fa fa-plane"></i>
                            <h4>Transport</h4>
                            <p>The Fancy that recognize the talent and effort of the best web designers, developers and agencies in the world.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="service_item">
                            <i class="fa fa-home"></i>
                            <h4>Hotels</h4>
                            <p>The Fancy that recognize the talent and effort of the best web designers, developers and agencies in the world.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="service_item">
                            <i class="fa fa-cutlery"></i>
                            <h4>Food</h4>
                            <p>The Fancy that recognize the talent and effort of the best web designers, developers and agencies in the world.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <br><br>
        <!--================End Our Service Area =================-->

        <!--================Latest News Area =================-->
   
        <section id="blog" class="service_item">
            <div class="tampilan">
            <div class="container">
                <div class="b_center_title">
                   <font color="#ff1493"><br><h6>whats goin on</h6></font>
                    <h2>Event Blog </h2>
                    <br>                <div class="l_news_inner">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="l_news_item">
                                <div class="l_news_img"><a href="#"><img class="img-fluid" src="img/blog/l-news/l-news-1.jpg" alt=""></a></div>
                                <div class="l_news_content">
                                   <h4>3 Best Practices for Keeping Your Kooporate Event Clients Happy</h4></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="l_news_item">
                                <div class="l_news_img"><a href="#"><img class="img-fluid" src="img/blog/l-news/l-news-2.jpg" alt=""></a></div>
                                <div class="l_news_content">
                                  <h4>Adding a New Digital Dimension to Your Next Special Event </h4></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="l_news_item">
                                <div class="l_news_img"><a href="#"><img class="img-fluid" src="img/blog/l-news/l-news-3.jpg" alt=""></a></div>
                                <div class="l_news_content">
                                    <a href="#"><h4>West Elm At Evantor 2017+Room MakeOver Competion</h4></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Latest News Area =================-->

        <!--================Footer Area =================-->
        <footer class="footer_area">
            <div class="footer_widgets_area">
                 <section id="maps" class="section maps">
                <div class="container">
                    <div class="f_widgets_inner row">
                        <div class="col-lg-3 col-md-6">
                            <aside class="f_widget subscribe_widget">
                                <div class="f_w_title">
                                    <h3>Contact Form</h3>
                                </div>
                                <input type="name" class="form-control" placeholder="Name" aria-label="Name">
                                <br>
                                <input type="email" class="form-control" placeholder="E-mail" aria-label="Email">
                                <br>
                                <input type="subject" class="form-control" placeholder="Subject" aria-label="Subject">
                                <br>

                                <textarea class="form-control"name="message" placeholder="Message" rows="10" cols="37" aria-label="Message"></textarea>
                                <div class="input-group">

                                    <center>
        
                                   <br>
                                        <center><button class="read_btn">Send Message</button>
                                    </span></center>
                                </div>
                                <ul>
                                    
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                </ul>
                            </aside>
                        </div>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                        
                        <div class="col-lg-6 col-md-8">
                            <aside class="f_widget contact_widget">
                                <div class="f_w_title">
                                    <h3>Our Location</h3>
                                </div>
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d178849.28990766508!2d128.93171370325433!3d35.1643693704922!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3568eb6de823cd35%3A0x35d8cb74247108a7!2sBusan%2C+Korea+Selatan!5e1!3m2!1sid!2sid!4v1564555274563!5m2!1sid!2sid" width="650" height="550" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>

            <button onclick="topFunction()"  class="tp_btn" href="#home" id="myBtn" title="Go to top"><i class="fa fa-angle-up"></i></button>
            <script>
                // When the user scrolls down 20px from the top of the document, show the button
            window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
          if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("myBtn").style.display = "block";
          } else {
            document.getElementById("myBtn").style.display = "none";
          }
        }

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0; // For Safari
  document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
}

            </script>

            <div class="copy_right_area">
                <center>
                <div class="container">
                    <div class="float-md-left">
                       <h5>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved</h5>
                    </div>
                   
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!--================End Footer Area =================-->





        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="js/jquery-3.2.1.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <!-- Rev slider js -->
        <script src="vendors/revolution/js/jquery.themepunch.tools.min.js"></script>
        <script src="vendors/revolution/js/jquery.themepunch.revolution.min.js"></script>
        <script src="vendors/revolution/js/extensions/revolution.extension.actions.min.js"></script>
        <script src="vendors/revolution/js/extensions/revolution.extension.video.min.js"></script>
        <script src="vendors/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
        <script src="vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
        <script src="vendors/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
        <script src="vendors/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
        <!-- Extra plugin css -->
        <script src="vendors/counterup/jquery.waypoints.min.js"></script>
        <script src="vendors/counterup/jquery.counterup.min.js"></script>
        <script src="vendors/counterup/apear.js"></script>
        <script src="vendors/counterup/countto.js"></script>
        <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
        <script src="vendors/parallaxer/jquery.parallax-1.1.3.js"></script>
        <!--Tweets-->
        <script src="vendors/tweet/tweetie.min.js"></script>
        <script src="vendors/tweet/script.js"></script>

        <script src="js/theme.js"></script>
        <script>
            var btnContainer = document.getElementById("navbarSupportedContent");

            // Get all buttons with class="btn" inside the container
            var btns = btnContainer.getElementsByClassName("nav-item");

            // Loop through the buttons and add the active class to the current/clicked button
            for (var i = 0; i < btns.length; i++) {
            btns[i].addEventListener("click", function() {
                var current = document.getElementsByClassName("active");
                current[0].className = current[0].className.replace(" active", "");
                this.className += " active";
            });
            }
        </script>
        <script>
            $(document).ready(function(){
                $(".smooth-class").on('click', function(event) {
                    if (this.hash !== "") {
                    event.preventDefault();

                    var hash = this.hash;
                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    }, 800, function(){
                        window.location.hash = hash;
                    });
                    }
                });
            });
        </script>
    </body>
</html>
