<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>MyTicket</title>
        
        <!-- Icon css link -->
        <link href="css/font-awesome.min.css" rel="stylesheet">
        <link href="vendors/elegant-icon/style.css" rel="stylesheet">
        <link href="vendors/themify-icon/themify-icons.css" rel="stylesheet">
        <!-- Bootstrap -->
        <style>
            @font-face {
            font-family: Poppins-Regular;
            src: url('/fonts/poppins/Poppins-Regular.ttf'); 
            }

            @font-face {
            font-family: Poppins-Medium;
            src: url('/fonts/poppins/Poppins-Medium.ttf'); 
            }

            @font-face {
            font-family: Montserrat-Medium;
            src: url('/fonts/montserrat/Montserrat-Medium.ttf'); 
            }

            @font-face {
            font-family: Montserrat-SemiBold;
            src: url('/fonts/montserrat/Montserrat-SemiBold.ttf'); 
            }
            #kiri{
                background-image: linear-gradient(to bottom, rgba(147, 112, 219, 0.52), rgba(255, 0, 255, 0.60)), url('img/min.png')
            }
            html, body{
                height: 100%;
                overflow: hidden!important;
            }
            .tombol{
                background:rgb(223, 44, 154);
                color:white;
                border-bottom:5px solid rgb(185, 42, 121);
            }
            .tombol:hover{
                background:rgb(231, 72, 170);
                text-decoration: none;
                color: white;
                cursor:pointer;
            }
            .inputbox{
                font-family: 'Poppins';
                border:none;
                outline:none;
                border-radius: 0!important;
                border-bottom: 2px solid #d3d3d3;
                font-family: "arial" ;
                color: rgb(99, 99, 99)!important;
                font-size: 17px;
                margin:auto;
            }
            .inputbox:focus{
                border-bottom: 2px solid rgb(199, 21, 133);
                box-shadow: none;
                overflow: hidden!important;
                outline: none!important;
            }
            .form-group{
                margin-top: 7.5%;
            }
            .read-btn{
                background: rgb(190, 190, 190);
                color: white;
                border: none;
            }
            .read-btn:hover{
                cursor: pointer;
                background: rgb(211, 211, 211);
            }
            .rd-btn{
                color: white;
                background-image: -moz-linear-gradient(180deg, #9f48f0 0%, #ff2172 100%);
                background-image: -webkit-linear-gradient(180deg, #9f48f0 0%,  #ff2172 100%);
                background-image: -ms-linear-gradient(180deg,#9f48f0 0%, #ff2172 100%);
            }
            .rd-btn:hover{
                opacity: 0.9;
                cursor: pointer;
            }
            .btn{
                box-shadow: none!important;
            }
        </style>
</head>
<body>
    <div class="container-fluid h-100" id="core">
        <div class="row justify-content-center h-100">
            <div class="col-md-8" id="kiri"></div>
            <div class="col-md-4">
                <div class="container h-100">
                    <div class="row align-items-center">
                            <div class="col-12 p-0">
                                <div class="col-md-12 text-center" style="margin-top: 12.5%">
                                    <a class="btn tombol" href="register">Member</a>
                                    <a class="btn tombol" href="partner">Partner</a>
                                </div>
                                <div class="col-md-12" style="margin-top: 7%">
                                    <form method="POST">
                                      {{csrfField()}}
                                        <div class="form-group">
                                            <label for="fullname">Full Name</label>
                                            <input type="text" name="in_name" class="form-control inputbox p-0" id="fullname">
                                        </div>
                                        <div class="form-group">
                                            <label for="email">Email address</label>
                                            <input type="email" name="in_email" class="form-control inputbox p-0" id="email">
                                            <span id="error_email" style="margin-top:2%"></span>
                                        </div>
                                        <div class="form-group">
                                            <label for="pass1">Password</label>
                                            <input type="password" name="in_password" class="form-control inputbox p-0" id="pass1">
                                        </div>
                                        <div class="form-group">
                                            <label for="pass2">Repeat Password</label>
                                            <input type="password" name="in_repeat" class="form-control inputbox p-0" id="pass2">
                                            </div>
                                        <div class="form-check">
                                            <input type="checkbox" name="term" id="chck">
                                            <label class="form-check-label" for="chck">I agree to the <b>Term & Conditions</b></label>
                                        </div>
                                        <div class="col-md-12 p-0" style="margin-top: 5%">
                                            <a href="login" class="btn btn-secondary btn-block read-btn" style="padding-top:2%; padding-bottom:2%">Login</a>
                                            <button type="submit" class="btn btn-block rd-btn" style="margin-top:3.5%; padding-top:2%; padding-bottom:2%">Sign Up</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script src='js/jquery-3.2.1.min.js'></script>
  <script>
    $(document).ready(function(){
      $('#email').blur(function () {
          var error_email = '';
          var email = $('#email').val();
          if(email == ""){
            $("#error_email").hide()
          }
          else{
            var _csrf = $('input[name="_csrf"]').val();
            var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9_\.\-])+\.)+([a-zA-Z0-9]{2,4})+$/;

            if (!filter.test(email)) {
              $("#error_email").show()
              $('#error_email').html('<label class="text-danger">Invalid Email</label>');
              $('#email').addClass('has-error');
              $('#register').attr('disabled', 'disabled');
            }
            else{
              console.log('sampe ajax');
              $.ajax({
                url:"{{route('checkemail')}}",
                method:"POST",
                data:{email:email, _csrf:_csrf},
                success:function (result) {
                  if(result == 'unique'){
                    $('#error_email').html('<label>nice email (y)</label>');
                    $('#button').attr('disabled',false);
                  }
                  else{
                    $('#error_email').html('<label>email have been registered</label>');
                    $('#email').addClass('has-error');
                    $('#button').attr('disabled', 'disabled');
                  }
                }
              });
            }
          }
      });
    })
  </script>
</html>