section.pricing {
  background: linear-gradient(to right);
}

.pricing .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.pricing hr {
  margin: 1.5rem 0;
}

.pricing .card-title {
  margin: 0.9rem 0;
  font-size: 20px;
  letter-spacing: .2rem;
  font-weight: bold;
}

.pricing .card-price {

  font-size: 3rem;
  margin: 0;
}
.card-title-a{
  font-size: 15px!important;
}
.card-body-a {
  color: white;
  background: rgba(255,33,114,1);
  background: -moz-linear-gradient(-45deg, rgba(255,33,114,1) 0%, rgba(159,72,240,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,33,114,1)), color-stop(100%, rgba(159,72,240,1)));
  background: -webkit-linear-gradient(-45deg, rgba(255,33,114,1) 0%, rgba(159,72,240,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(255,33,114,1) 0%, rgba(159,72,240,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(255,33,114,1) 0%, rgba(159,72,240,1) 100%);
  background: linear-gradient(135deg, rgba(255,33,114,1) 0%, rgba(159,72,240,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff2172', endColorstr='#9f48f0', GradientType=1 );
  border-radius: 1rem;
}

.pricing .card-price .period {
  font-size: 0.8rem;
}

.pricing ul li {
  margin-bottom: 1rem;
}

.pricing .text-muted {
  opacity: 0.7;
}

.pricing .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  opacity: 0.7;
  transition: all 0.2s;
  padding: 15px 25px;
  margin: 0;
  cursor: pointer;
  border: 1px solid #000;
  overflow: visible;
  font: bold 13px arial, helvetica, sans-serif;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
  background-color: #000;

}

/* Hover Effects on Card */

@media (min-width: 992px) {
  .pricing .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
  .pricing .card:hover .btn {
    opacity: 1;
  }
}