<h3> Hello, {{email}}</h3>
<p></p>
<p>Thanks for registering, we have sent an email verification in order to keep your account save. Please verify the email verification before it expired. Have a nice day!</p>
<p><a href="http://127.0.0.1:3333/api/v1/register/confirm/{{password}}">Confirm email address</a></p>